* {
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

.n-data-table-td,
.n-data-table-th__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 禁止输入框自动大写 */
input, textarea, [contenteditable="true"] {
  text-transform: none;
  -webkit-text-transform: none;
}
